*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild


# python build file
*.py[cod]

.idea/
server/.idea/
server/wechat/bot.pkl
server/wechat/wxpy_puid.pkl
